.general{

}

.maindiv{
    width: 80px;
    height: 30px;
    background-color: gray;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;



}

.maindiv ul {
    display: block;
    list-style: none;
    /*background-color: #66bf3c;*/
    padding: 0;
    position: absolute;
    top: 14px;

}

.maindiv li {
    width: 80px;
    /*background-color: red;*/
    display: block;
    list-style: none;

}

.selected {
    background-color: #66bf3c;
}